
{% extends '/back/gestion.html.twig' %}

{% block body %}
    <div class="container">
<div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Paiements</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('Dashboard') }}">Home</a></li>
                                        <li class="breadcrumb-item active"><a href="{{ path('back') }}">All Reservations</a></li>

                    <li class="breadcrumb-item active"><a href="#">Paiement</a></li>
                </ol>
            </div>
        </div>



            {% for paiement in paiements %}
                <li>
                    <ul>Montant Payé: {{ paiement.montant }}</ul> 
                    
                    <ul>Heure du Paiement: {{ paiement.heureP|date('Y-m-d H:i:s') }}</ul> 
                </li>
            {% endfor %}
    </div>
 

{% endblock %}
