{% extends '/back/gestion.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('back/formation/_form.html.twig', {'button_label': 'Update'}) }}

    

    
{% endblock %}
