 <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a class="has-arrow" href="{{ path('app_index_admin') }}" aria-expanded="false">
							<i class="la la-home"></i>
                                <span class="nav-text">Dashboard</span>
						</a>
                    </li>


                    <li>
                        <a class="has-arrow" href="{{ path('app_etablissement_index_admin') }}" aria-expanded="false">
                            <i class="la la-user"></i>
                            <span class="nav-text">Etablissement</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="{{ path('app_users_index_admin') }}" aria-expanded="false">
                            <i class="la la-user"></i>
                            <span class="nav-text">Users</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="{{ path('app_certificat_index_admin') }}" aria-expanded="false">
                            <i class="la la-user"></i>
                            <span class="nav-text">Certificat</span>
                        </a>
                    </li>
                </li>
					
			</ul>
        </div>
    </div>

